{% extends "users/layout.html" %}

{% block body %}
    
    <h2>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}</h2>
    
    <ul>
        <li >Username: {{ request.user.username }}</li>
        <li >Email: {{ request.user.email }}</li>
        
        <h3>Registered Courses</h3>
             {% for i in student_subject %}
                  <li>{{ i }}</li>
             {% empty %}
                  <li>No enrollment</li>
             {% endfor %}
    </ul>
    
    
    <p><button type="button"><a href="{% url 'courses:index' %}">Check Courses</a></button></p>
    <p><button type="button"><a href="{% url 'users:logout' %}">Logout</a></button></p>
    
    
{% endblock %}