{% extends "users/layout.html" %}

{% block body %}

    {% if message %}
        {{ message }}
    {% endif %}
    <h3 class="text-center text-wite pt-5">Users Login</h3>
    <div id="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="text-info">Username:</label><br>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Password:</label><br>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="submit-group">
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                </div>
            </form>
        </div>
    </div>

{% endblock %}